@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --txt:rgb(40, 40, 40);
    --destaq:rgb(230, 187, 173);
    --fund:rgb(173,216,230);
    --fundoDtq:rgb(134, 197, 218);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(207, 229, 236);
}
header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/back.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--txt);
}
header img{
    border-radius: 48%;
}
header h1{
    font-size: 2rem;
}
a:visited{
    color: var(--txt);
}
a:link{
    color: var(--txt);
}

header a:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); 
}
.content{
    margin: 3rem;
    width: 100%;

    background-color: var(--fund);
    border: 1px solid;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.Leo,.Art,.Car,.Hel{
    width: 13rem;
    background-color: var(--fundoDtq);
    margin: 2rem;
    border: 1px solid;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    align-items: center;
}
.content img{
    border-radius: 60%;
    width: 80%;
    height: 70%;
}

.hidden{
    opacity: 0;
    filter: blur(15px);
    transition: all 1.5s;
    transform: translateX(-100%);
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;
}
.content:nth-child(2){
    transition-delay: 500ms;
}
.content:nth-child(3){
    transition-delay: 800ms;
}
.content:nth-child(4){
    transition-delay: 1100ms;
}