@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --txt:rgb(40, 40, 40);
    --destaq:rgb(215, 173, 230);
    --fundo:rgb(207, 229, 236);
    --fundo2:rgb(173,216,230);
    --fundo3:rgb(134, 197, 218);
}
::selection{
    background: var(--destaq);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 0.9rem;
}
::-webkit-scrollbar-thumb {
    background-color: var(--destaq);
}
::-webkit-scrollbar-track {
    background-color: var(--fundo2);
}

html{
    scroll-behavior: smooth;
    cursor:url('../images/cursor.png');
}
#bod{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(207, 229, 236);
}
#head{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/fundo.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--txt);
}
header img{
    border-radius: 48%;
}
header h1{
    font-size: 2rem;
}
a:visited{
    color: var(--txt);
}
a:link{
    color: var(--txt);
}

header h1:hover{
    transform: scale(1.2); 
}


.container{
    width: 100%;
    height: 2000px;
    
}
.content{
    margin: 4rem;

    background-color: var(--fundo2);
    border: 0.2rem solid var(--destaq);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.Leo,.Car,.Hel{
    width: 16rem;
    height: 15rem;
    background-color: var(--fundo3);
    margin: 3rem;
    border: 1px solid;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    align-items: center;

    cursor: default;
}
.content img{
    border-radius: 60%;
    width: 80%;
    height: 70%;


    
}
.utf{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.esquerda{
    max-width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
.fachada{
    margin: 2rem 0 2rem 2rem; /*topo direita baixo esquerda */
    width: 100%;
    height: 20rem;
    border: 0.2rem solid var(--destaq);
}
.profs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 0.2rem solid var(--destaq);
    width: 100%;
    margin-left: 2rem;
    background-color: var(--fundo2);
}
.profs img{
    border-radius: 60%;
    width: 80%;
    height: 70%;

}
.liberato,.sandra{
    width: 20rem;
    height: 18rem;
    background-color: var(--fundo3);
    margin: 3rem;
    border: 1px solid;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    align-items: center;

    cursor: default;
}
.esquerda h1{
    font-size: 3rem;
    margin: 2rem 3rem 2rem 3rem;
    width: 100%;
}
.utfField{
    background-color: rgba(173, 216, 230, 0.9);
    border: 0.2rem solid var(--destaq);
    margin: 2rem;
    width: 50%;
}
p,h1{
    text-transform: capitalize;
    text-align:center;
    color: var(--txt);
}
.utfField p{
    font-size: 0,7rem;
    margin: 2rem;
}
.utfField h1{
    font-size: 3rem;
    margin: 2rem;
}


















.hidden{
    opacity: 0;
    filter: blur(15px);
    transition: all 1.5s;
    transform: translateX(-100%);
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1.5s;
}


.Leo:hover,.Car:hover,.Hel:hover{
    transform: scale(1.2);
    transition: transform 0.5s;
}
.flip-card {
    background-color: transparent;
    width: 11.25rem;
    height: 17.5rem;
    perspective: 1000px;
    border-radius: 48%;
    box-sizing: border-box;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 48%;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    border-radius: 48%;
  }
  
  .flip-card-back {
    border: 0.063rem solid var(--txt);
    background-image: linear-gradient(rgb(215, 173, 230),rgb(236, 192, 252));

    color: rgb(40,40,40);

    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
  }