@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --txt:rgb(40, 40, 40);
    --destaq:rgb(215, 173, 230);
    --fundo:rgb(207, 229, 236);
    --fundo2:rgb(173,216,230);
    --fundo3:rgb(134, 197, 218);
}
::selection{
    background: var(--destaq);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 0.9rem;
}
::-webkit-scrollbar-thumb {
    background-color: var(--destaq);
}
::-webkit-scrollbar-track {
    background-color: var(--fundo2);
}

html{
    scroll-behavior: smooth;
    cursor:url('../images/cursor.png');
}
a:visited{
    color: var(--txt);
}
a:link{
    color: var(--txt);
}




nav{
    display: flex;
    width: 100%;
    height: 5rem;

    justify-content: space-between;
    position: fixed;
    background-color: var(--fundo);
    /* background-color: blue; */
    z-index: 100;
}
nav ul{
    margin-right: 4rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav li{
    
    margin: 1.5rem 1rem;
    font-size: 1.3rem;
    color: var(--txt);
}

.mob{
    display: none;
    
}
.mob img{
    height: 3rem;
    
}
.logo{
    height: 4rem;
    margin: 0.6rem 0rem;
    margin-left: 5rem;
}


#menu{
    width: 100vw;
    height: 100%;
    background-color: var(--fundo2);
    display: none;
    margin-top: 5rem;
    
}

#menu ul{
    height: calc(100vh - 5rem);
    list-style: none;
    
    display: flex;
    align-items: center;
    
    justify-content: space-around;
    
    flex-direction: column;
}



li:hover{
    transform: scale(1.5);
}


.container2{
    background-color: var(--fundo);
    color: var(--txt); 
    display: flex; 
    flex-wrap: wrap;
}
.Livro,.Resumo,.Conclusao,.Autor{
    min-height: calc(100vh);
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-content: space-between;
}

.content2 h1{
    font-size: 3rem;
    color: var(--txt);
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    opacity: 0;
    cursor: default;
}
.content2 p{
    margin: 0rem 2rem;
    color: var(--txt);
    text-transform: capitalize;
    text-align: justify;
    opacity: 0;
    cursor: default;
}
#voltar{
    padding: 0.7rem;
    background-color: rgb(215, 173, 230);
    border-radius: 40%;
}

.paragrafos{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: flex-end;
}


.slide-left{
    animation: slideleft 0.7s forwards;
} 
p.slide-left{
    animation-delay: 1.8s;
}
h1.slide-left{
    animation-delay: 1.3s;
}



nav li{
    animation: slideleft 1s both;
}
.menu li{
    animation: aa 1s both;
}
@keyframes aa {
    0%{
        
        opacity: 0;
        
    }
    100%{
        
        opacity: 1;
    }
    
}


li:nth-child(1){
    animation-delay: 0s;
}
li:nth-child(2){
    animation-delay: 0.3s;
}
li:nth-child(3){
    animation-delay: 0.6s;
}
li:nth-child(4){
    animation-delay: 0.8s;
}
li:nth-child(5){
    animation-delay: 1s;
}



@keyframes slideleft{
    0%{
        transform: translate(-100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}

#imgC{
    display: none;
}


@media screen and (max-width: 900px){
    .logo{
        margin-left: 0;
        height: 4rem;
    }
    nav{
        display: flex;
        justify-content: space-around;
    }
    .mob{
    display: flex;
    align-items: center;
    }
    nav ul{
        display: none;
    }
    #imgC:hover,#imgM:hover{
       transform: scale(1.3);
       
    }
    #autor{
        margin-bottom: 5rem;
    }
    p.slide-left{
        animation-delay: 1.3s;
    }
    h1.slide-left{
        animation-delay: 0.8s;
    }
}
