@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
header{
    width: 100%;
    height: 100vh;

    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url(/images/back.JPEG);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    border-radius: 48%;
}
header h1{
    font-size: 2rem;
}
a:visited{
    color: #fff;
}
a:link{
    color: #fff;
}
a:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); 
}
.content{
    height: 2000px;
}

