@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --txt:rgb(40, 40, 40);
    --destaq:rgb(215, 173, 230);
    --fundo2:rgb(173,216,230);
    --fundo3:rgb(134, 197, 218);
    --fundo:rgb(207, 229, 236);
}
::selection{
    background: var(--destaq);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
    cursor:url('../images/cursor.png');
}
#bod{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(207, 229, 236);
}
#head{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/fundo.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--txt);
}
header img{
    border-radius: 48%;
}
header h1{
    font-size: 2rem;
}
a:visited{
    color: var(--txt);
}
a:link{
    color: var(--txt);
}

header h1:hover{
    transform: scale(1.2); 
}
.content{
    margin: 4rem;
    width: 100%;

    background-color: var(--fundo2);
    border: 1px solid;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.Leo,.Art,.Car,.Hel,.Edu{
    width: 17rem;
    height: 15rem;
    background-color: var(--fundo3);
    margin: 3rem;
    border: 1px solid;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    align-items: center;

    cursor: default;

}
.content img{
    border-radius: 60%;
    width: 80%;
    height: 70%;
}

.hidden{
    opacity: 0;
    filter: blur(15px);
    transition: all 1.5s;
    transform: translateX(-100%);
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;
}
.content:nth-child(2){
    transition-delay: 500;
}
.content:nth-child(3){
    transition-delay: 800ms;
}
.content:nth-child(4){
    transition-delay: 1100ms;
}
.Leo:hover,.Art:hover,.Car:hover,.Hel:hover,.Edu:hover{
    transform: scale(1.2);
    transition: transform 0.5s;
}
.flip-card {
    background-color: transparent;
    width: 11.25rem;
    height: 17.5rem;
    perspective: 1000px;
    border-radius: 48%;
    box-sizing: border-box;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 48%;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    border-radius: 48%;
  }
  
  .flip-card-back {
    border: 0.063rem solid var(--txt);
    background-image: linear-gradient(rgb(215, 173, 230),rgb(236, 192, 252));

    color: rgb(40,40,40);

    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
  }




nav{
    display: flex;
    width: 100%;
    min-height: 5rem;

    justify-content: space-between;
    position: fixed;
    background-color: var(--fundo);
    /* background-color: blue; */
    z-index: 100;
}
nav img{
    height: 4rem;
    margin: 0.6rem 0rem;
    margin-left: 5rem;
}
nav ul{
    margin-right: 4rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav li{

    margin: 1.5rem 1rem;
    font-size: 1.3rem;
    color: var(--txt);
}

.mob{
    display: none;

}



@media screen and (max-width: 900px){
	nav ul{
        display: none;
    }
    .mob{
    margin: 0rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: var(--txt);
    }
    .mob:hover{
       transform: scale(1.5);
    }
    #autor{
        margin: 6rem 0rem;
    }
   
}






nav li:hover{
    transform: scale(1.5);
}
.container2{
    height: calc((41.59rem*4));
    /* height: calc((46.59rem*4)); */
    width: 100vw;
    background-color: var(--fundo);
    color: var(--txt); 
    display: flex; 
    flex-wrap: wrap;
}
.Livro,.Resumo,.Conclusao,.Autor{
    height: 41.59rem;
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-content: space-between;
}
/* .Autor{
    height: 41.59rem;
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-content: space-around;
    
} */

.content2 h1{
    font-size: 3rem;
    color: var(--txt);
    margin-top: 5rem;
    opacity: 0;
    cursor: default;
}
.content2 p{
    color: var(--txt);
    text-transform: capitalize;
    text-align: justify;
    opacity: 0;
    cursor: default;
}
#voltar{
    padding: 0.7rem;
    background-color: rgb(215, 173, 230);
    border-radius: 40%;
}

.paragrafos{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: flex-end;
}


 @keyframes slideleft{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
 .slide-left{
    animation: slideleft 0.7s forwards;
} 
p.slide-left{
    animation-delay: 2.8s;
}
h1.slide-left{
    animation-delay: 1.8s;
}
