.flip-card {
    background-color: transparent;
    width: 11.25rem;
    height: 17.5rem;
    perspective: 1000px;
    border-radius: 48%;
    box-sizing: border-box;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 48%;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    border-radius: 48%;
  }
  
  .flip-card-back {
    border: 0.063rem solid #fff;
    background-image: linear-gradient(rgb(12, 12, 12),rgb(29, 29, 29));
    color: rgb(255, 255, 255);
    transform: rotateY(180deg);
  }